<style>
    h1{
        text-align: center;
    }

    nav{
        background-color: rgb(73, 99, 160);
    }
    nav ul{
        display: flex;
        padding: 10px 15px;
        margin-left: 80px;
    }

    nav ul li{
        list-style: none;
        margin-right: 25px;
    }

    nav ul li a{
        color: aliceblue;
        text-decoration: none;
    }



</style>

<h1>My Todolist</h1>

<nav>
    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/liste">Liste</a></li>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>
</nav>

<div class="mt-5">
    <router-outlet></router-outlet>
</div>