<form (submit)="addItem()" class=" p-3 mb-2 bg-info text-white d-flex align-items-center justify-content-center">
    <input type="text" name="item_description" placeholder="description" [(ngModel)]="newItem.description">
    <input type="submit" value="Ajouter">
</form>

<div *ngFor="let item of items; index as i;">
    <div class=" p-3 mb-2 bg-info text-white d-flex flex-column align-items-center justify-content-around">
        <li>{{item.description}}</li>
        <div>
            <button class="btn btn-secondary btn-lg" (click)="delete(i)">Delete</button>
        </div>
        <form (submit)="update(fondo.value,i)">
            <input #fondo type="text" name="newValue" placeholder="nouvelle description">
            <input class="btn btn-secondary btn-lg" type="submit" value="Update">
        </form>
    </div>
</div>