<div class="main">

    <label for="addItemInput">Voulez-vous ajouter un item ?</label>

    <input #newItem placeholder="ajouter un item" (keyup.enter)="addItem(newItem.value); newItem.value = ''"
        class="g-text-input" id="addItemInput" />

    <button class="btn btn-secondary btn-lg" (click)="addItem(newItem.value)">Add</button>

    <ul *ngFor="let item of items; index as i;">
        <li>
            {{item.description}}
            <button class="btn btn-secondary btn-lg" (click)="delete(i)">Delete</button>
        </li>
    </ul>
</div>