<div class="contact-container">
    <h2>Contactez-Nous</h2>
    <hr />

    <h4>Partagez vos idées avec nous !</h4>
    <form action="">
        <input type="text" name="mames" id="" placeholder="entrez votre prenom et nom">
        <input type="email" name="email" id="" placeholder="entrez votre email">
        <input type="text" name="" id="" placeholder="sujet">
        <textarea name="message" id="" cols="20" rows="8" placeholder="Ecrivez votre message"></textarea>
        <button type="submit" class="valider-contact"  (click)="reload()">Valider</button>
    </form>
</div>